@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.CEO-container {
    background-color: yellow
}

.CEO-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: left;
    font-size: 3rem;
    position: relative;
}

.card-body
{
    background-color: blue;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
   

}

