@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.title-head {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-align: center;
    font-size: 12rem;
    position: relative;
  
}
